<a href="https://colab.research.google.com/github/vitor-teles/Tecnica-de-Programacao/blob/main/python__engsoft_victor_teles_carvalho_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lista 1 (11/09)

In [1]:
2121211# Operadores
a = 10
b = 10
print(f"{a + b}")
print(f"{a - b}")
print(f"{a * b}")
print(f"{a / b}")
print(f"{a // b}")
print(f"{a % b}")
print(f"{a ** b}")

20
0
100
1.0
1
0
10000000000

In [2]:
'''
Operadores de texto
° concatenação: + (juntar)
° repetiçao?: * (repetir)
'''
facul = "UDF"
print (f"Eu quero ir embora da {facul}", (10*2)) #exemplo de concatenação

Eu quero ir embora da UDF 20

In [3]:
# 1
print("Meu primeiro programa!!!")

Meu primeiro programa!!!

In [4]:
#o 2
num = int(input("Digite um numero: "))
print(num)

Digite um numero: 12
12

In [5]:
# 3
num = int(input("Digite um numero: "))
print(f"Foi informado o valor: {num}")

Digite um numero: 12
Foi informado o valor: 12

In [6]:
# 4
num1 = int(input("Digite um numero: "))
num2 = int(input("Digite outro numero: "))
print(f"Voce informou os numeros: {num1} e {num2}")

Digite um numero: 21
Digite outro numero: 12
Voce informou os numeros: 21 e 12

In [7]:
# 5
num = float(input("Digite um numero real: "))
print(f"Voce informou o numero {num:.2f}")

Digite um numero real: 12
Voce informou o numero 12.00

In [8]:
# 6
c = float(input("Digite a temperatura em graus Celsius: "))
f = c * 1.8 + 32
print(f"A temperatura em Fahrenheit é: {f:.2f}")

Digite a temperatura em graus Celsius: 12
A temperatura em Fahrenheit é: 53.60

In [9]:
# 7
num1 = int(input("Digite um numero: "))
num = float(input("Digite um numero real: "))
print(f"Voce informou os numeros: {num1} e {num:.2f}")

Digite um numero: 21
Digite um numero real: 12
Voce informou os numeros: 21 e 12.00

In [10]:

# 8
name = input("Digite seu nome: ")
print(f"Voce digitou: {name [0]}")

Digite seu nome: victor
Voce digitou: v

In [11]:
# 9
cor = input("Digite o nome da sua cor preferida: ")
print(f"Voce gosta da cor {cor * 3}")

Digite o nome da sua cor preferida: branco
Voce gosta da cor brancobrancobranco

In [12]:
# 10
v = input("digite nome de uma verdura: ")
f = input("digite nome de uma fruta: ")
print(f"Voce gosta de {v * 6} e {f * 6}")

digite nome de uma verdura: dsui
digite nome de uma fruta: asdfs
Voce gosta de dsuidsuidsuidsuidsuidsui e asdfsasdfsasdfsasdfsasdfsasdfs

In [13]:
# 11
num = int(input("digite um numero: "))
print(f"o numero é {num}")
print(f"o dobro do numero é {num * 2}")

digite um numero: 13
o numero é 13
o dobro do numero é 26

In [14]:
# 12
num = int(input("digite um numero: "))
print(f"o numero é {num}")
print(f"o quadrado do numero é {num ** 2}")
print(f"o cubo do numero é {num ** 3}")

digite um numero: 12
o numero é 12
o quadrado do numero é 144
o cubo do numero é 1728

In [15]:
# 13
num1 = int(input("Digite um numero: "))
num2 = int(input("Digite outro numero: "))
soma = num1 + num2

print(f"Os numeros {num1} e {num2} somados resultam em {soma}")

Digite um numero: 23
Digite outro numero: 32
Os numeros 23 e 32 somados resultam em 55

In [16]:
# 14
num1 = float(input("Digite o primeiro numero real: "))
num2 = float(input("Digite o segundo numero real: "))
soma = num1 + num2
print(f"Os numeros {num1} e {num2} corresponde a {soma}")

Digite o primeiro numero real: 13
Digite o segundo numero real: 13
Os numeros 13.0 e 13.0 corresponde a 26.0

In [17]:
# 15
num1 = float(input("Digite o primeiro numero real: "))
num2 = float(input("Digite o segundo numero real: "))
soma = num1 * num2
divisao = num1 / num2
mutiplicar = num1 * num2
subtracao = num1 - num2
print(f"Os numeros {num1} e {num2} corresponde a {soma}")
print(f"Os numeros {num1} e {num2} corresponde a {divisao}")
print(f"Os numeros {num1} e {num2} corresponde a {mutiplicar}")
print(f"Os numeros {num1} e {num2} corresponde a {subtracao}")

Digite o primeiro numero real: 13
Digite o segundo numero real: 13
Os numeros 13.0 e 13.0 corresponde a 169.0
Os numeros 13.0 e 13.0 corresponde a 1.0
Os numeros 13.0 e 13.0 corresponde a 169.0
Os numeros 13.0 e 13.0 corresponde a 0.0

Lista 2 - Estruturas condicionais (IF, ELIF, ELSE)

In [18]:
# 1

num = float(input("Digite um numero: "))

if num >= 10:
    print(f"O numero {num} é maior que 10")
else:
    print(f"O numero {num} é menor que 10")

Digite um numero: 13
O numero 13.0 é maior que 10

In [19]:
# 2
num = float(input("Digite um numero: "))

if num > 10:
    print(f"O numero {num} é maior que 10")
elif num == 10:
    print(f"O numero {num} é igual a 10")
elif num <10:
    print(f"O numero {num} é menor que 10")

Digite um numero: 31
O numero 31.0 é maior que 10

In [20]:
# 3

num = int(input("Digite um numero: "))

if num % 2 == 0:
    print(f"O numero {num} é par")
else:
    print(f"O numero {num} é impar")

Digite um numero: 31
O numero 31 é impar

In [21]:
# 4
num = float(input("Digite um numero: "))

if num > 0:
    print(f"O numero {num} positivo")
elif num == 0:
    print(f"O numero {num} é nulo")
elif num < 0:
    print(f"O numero {num} é negativo")

Digite um numero: 13
O numero 13.0 positivo

In [22]:
# 5
num = int(input("digite um numero: "))
if num % 3 == 0:
    print(f"o numero {num} é multiplo de 3")
else:
    print(f"o numero {num} não é multiplo de 3")

digite um numero: 21
o numero 21 é multiplo de 3

In [23]:
# 6
num1 = int(input("Digite o um número teste: "))
num2 = int(input("Digite o um número inteiro: "))

if num1 % 3 == 0 and num2 % 3 == 0:
    print(f"Os números {num1} e {num2} são múltiplos de 3.")
elif num1 % 3 == 0:
    print(f"O número {num1} é múltiplo de 3, mas {num2} não é.")
elif num2 % 3 == 0:
    print(f"O número {num2} é múltiplo de 3, mas {num1} não é.")
else:
    print(f"Nem {num1} nem {num2} são múltiplos de 3.")

Digite o um número teste: 21
Digite o um número inteiro: 21
Os números 21 e 21 são múltiplos de 3.

In [24]:
# 7
num = int(input("Digite um número inteiro: "))
if num % 2 == 0:
    print("O número é par")
else:
    print("O número é ímpar")

Digite um número inteiro: 21
O número é ímpar

In [25]:
# 8
num = float(input("Digite um número: "))
if num > 20:
    print("Metade do número:", num / 2)
else:
    print("Dobro do número:", num * 2)

Digite um número: 12
Dobro do número: 24.0

In [26]:
# 9
num1 = int(input("Digite o primeiro número inteiro: "))
num2 = int(input("Digite o segundo número inteiro: "))
soma = num1 + num2
if soma > 10:
    print("Quadrado da soma:", soma ** 2)
else:
    print("Metade da soma:", soma / 2)

Digite o primeiro número inteiro: 21
Digite o segundo número inteiro: 12
Quadrado da soma: 1089

In [29]:
# 11
nome1 = input("Nome da primeira pessoa: ")
peso1 = float(input("Peso da primeira pessoa: "))

nome2 = input("Nome da segunda pessoa: ")
peso2 = float(input("Peso da segunda pessoa: "))

if peso1 > peso2:
    print(f"A pessoa mais pesada é {nome1}")
elif peso2 > peso1:
    print(f"A pessoa mais pesada é {nome2}")
else:
    print("Ambas as pessoas têm o mesmo peso")

Nome da primeira pessoa: victor
Peso da primeira pessoa: 12
Nome da segunda pessoa: vivi
Peso da segunda pessoa: 17
A pessoa mais pesada é vivi

In [30]:
# 12
num = float(input("Digite um número: "))
if 20 <= num <= 90:
    print("O número está entre 20 e 90")
else:
    print("O número não está entre 20 e 90")

Digite um número: 2
O número não está entre 20 e 90

In [31]:
# 13
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))

if num1 > num2:
    print(f"{num1} é maior que {num2}")
elif num2 > num1:
    print(f"{num2} é maior que {num1}")
else:
    print("Os números são iguais")

Digite o primeiro número: 12
Digite o segundo número: 12
Os números são iguais

In [32]:
# 14
media_minima = float(input("Digite a média mínima para aprovação: "))

nome = input("Digite o nome do aluno: ")
sexo = input("Digite o sexo do aluno (M/F): ").strip().upper()

nota1 = float(input("Digite a primeira nota: "))
nota2 = float(input("Digite a segunda nota: "))
nota3 = float(input("Digite a terceira nota: "))

media = (nota1 + nota2 + nota3) / 3

aprovado = media >= media_minima

if sexo == 'M':
    artigo = "O aluno"
    status = "aprovado"
elif sexo == 'F':
    artigo = "A aluna"
    status = "aprovada"
else:
    artigo = "O(a) aluno(a)"
    status = "aprovado(a)"

if aprovado:
    print(f"{artigo} {nome} foi {status} com média {media:.2f}")
else:
    status = "reprovado" if sexo == 'M' else "reprovada"
    if sexo not in ['M', 'F']:
        status = "reprovado(a)"
    print(f"{artigo} {nome} foi {status} com média {media:.2f}")

Digite a média mínima para aprovação: 12
Digite o nome do aluno: victor
Digite o sexo do aluno (M/F): m
Digite a primeira nota: 12
Digite a segunda nota: 12
Digite a terceira nota: 12
O aluno victor foi aprovado com média 12.00

lista 3

In [33]:
# 1

print("Hello World! " * 10)

Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!

In [34]:
# 2


for _ in range(10):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [36]:
# 3

for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [37]:
# 4
for i in range(1, 101):
    print(f"{i}- Hello World!")

1- Hello World!
2- Hello World!
3- Hello World!
4- Hello World!
5- Hello World!
6- Hello World!
7- Hello World!
8- Hello World!
9- Hello World!
10- Hello World!
11- Hello World!
12- Hello World!
13- Hello World!
14- Hello World!
15- Hello World!
16- Hello World!
17- Hello World!
18- Hello World!
19- Hello World!
20- Hello World!
21- Hello World!
22- Hello World!
23- Hello World!
24- Hello World!
25- Hello World!
26- Hello World!
27- Hello World!
28- Hello World!
29- Hello World!
30- Hello World!
31- Hello World!
32- Hello World!
33- Hello World!
34- Hello World!
35- Hello World!
36- Hello World!
37- Hello World!
38- Hello World!
39- Hello World!
40- Hello World!
41- Hello World!
42- Hello World!
43- Hello World!
44- Hello World!
45- Hello World!
46- Hello World!
47- Hello World!
48- Hello World!
49- Hello World!
50- Hello World!
51- Hello World!
52- Hello World!
53- Hello World!
54- Hello World!
55- Hello World!
56- Hello World!
57- Hello World!
58- Hello World!
59- Hello World!
60- Hello World!
61- Hello World!
62- Hello World!
63- Hello World!
64- Hello World!
65- Hello World!
66- Hello World!
67- Hello World!
68- Hello World!
69- Hello World!
70- Hello World!
71- Hello World!
72- Hello World!
73- Hello World!
74- Hello World!
75- Hello World!
76- Hello World!
77- Hello World!
78- Hello World!
79- Hello World!
80- Hello World!
81- Hello World!
82- Hello World!
83- Hello World!
84- Hello World!
85- Hello World!
86- Hello World!
87- Hello World!
88- Hello World!
89- Hello World!
90- Hello World!
91- Hello World!
92- Hello World!
93- Hello World!
94- Hello World!
95- Hello World!
96- Hello World!
97- Hello World!
98- Hello World!
99- Hello World!
100- Hello World!

In [38]:
# 5
for i in range(100, -1, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [39]:
# 6
for i in range(2, 1001, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248
250
252
254
256
258
260
262
264
266
268
270
272
274
276
278
280
282
284
286
288
290
292
294
296
298
300
302
304
306
308
310
312
314
316
318
320
322
324
326
328
330
332
334
336
338
340
342
344
346
348
350
352
354
356
358
360
362
364
366
368
370
372
374
376
378
380
382
384
386
388
390
392
394
396
398
400
402
404
406
408
410
412
414
416
418
420
422
424
426
428
430
432
434
436
438
440
442
444
446
448
450
452
454
456
458
460
462
464
466
468
470
472
474
476
478
480
482
484
486
488
490
492
494
496
498
500
502
504
506
508
510
512
514
516
518
520
522
524
526
528
530
532
534
536
538
540
542
544
546
548
550
552
554
556
558
560
562
564
566
568
570
572
574
576
578
580
582
584
586
588
590
592
594
596
598
600
602
604
606
608
610
612
614
616
618
620
622
624
626
628
630
632
634
636
638
640
642
644
646
648
650
652
654
656
658
660
662
664
666
668
670
672
674
676
678
680
682
684
686
688
690
692
694
696
698
700
702
704
706
708
710
712
714
716
718
720
722
724
726
728
730
732
734
736
738
740
742
744
746
748
750
752
754
756
758
760
762
764
766
768
770
772
774
776
778
780
782
784
786
788
790
792
794
796
798
800
802
804
806
808
810
812
814
816
818
820
822
824
826
828
830
832
834
836
838
840
842
844
846
848
850
852
854
856
858
860
862
864
866
868
870
872
874
876
878
880
882
884
886
888
890
892
894
896
898
900
902
904
906
908
910
912
914
916
918
920
922
924
926
928
930
932
934
936
938
940
942
944
946
948
950
952
954
956
958
960
962
964
966
968
970
972
974
976
978
980
982
984
986
988
990
992
994
996
998
1000

In [40]:
# 7
for i in range(999, -1, -2):
    print(i)

999
997
995
993
991
989
987
985
983
981
979
977
975
973
971
969
967
965
963
961
959
957
955
953
951
949
947
945
943
941
939
937
935
933
931
929
927
925
923
921
919
917
915
913
911
909
907
905
903
901
899
897
895
893
891
889
887
885
883
881
879
877
875
873
871
869
867
865
863
861
859
857
855
853
851
849
847
845
843
841
839
837
835
833
831
829
827
825
823
821
819
817
815
813
811
809
807
805
803
801
799
797
795
793
791
789
787
785
783
781
779
777
775
773
771
769
767
765
763
761
759
757
755
753
751
749
747
745
743
741
739
737
735
733
731
729
727
725
723
721
719
717
715
713
711
709
707
705
703
701
699
697
695
693
691
689
687
685
683
681
679
677
675
673
671
669
667
665
663
661
659
657
655
653
651
649
647
645
643
641
639
637
635
633
631
629
627
625
623
621
619
617
615
613
611
609
607
605
603
601
599
597
595
593
591
589
587
585
583
581
579
577
575
573
571
569
567
565
563
561
559
557
555
553
551
549
547
545
543
541
539
537
535
533
531
529
527
525
523
521
519
517
515
513
511
509
507
505
503
501
499
497
495
493
491
489
487
485
483
481
479
477
475
473
471
469
467
465
463
461
459
457
455
453
451
449
447
445
443
441
439
437
435
433
431
429
427
425
423
421
419
417
415
413
411
409
407
405
403
401
399
397
395
393
391
389
387
385
383
381
379
377
375
373
371
369
367
365
363
361
359
357
355
353
351
349
347
345
343
341
339
337
335
333
331
329
327
325
323
321
319
317
315
313
311
309
307
305
303
301
299
297
295
293
291
289
287
285
283
281
279
277
275
273
271
269
267
265
263
261
259
257
255
253
251
249
247
245
243
241
239
237
235
233
231
229
227
225
223
221
219
217
215
213
211
209
207
205
203
201
199
197
195
193
191
189
187
185
183
181
179
177
175
173
171
169
167
165
163
161
159
157
155
153
151
149
147
145
143
141
139
137
135
133
131
129
127
125
123
121
119
117
115
113
111
109
107
105
103
101
99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

In [41]:
# 8
soma = sum(range(1, 101))
print("Soma:", soma)

Soma: 5050

In [42]:
# 9

n = int(input("Quantas vezes imprimir 'Hello World!'? "))
for _ in range(n):
    print("Hello World!")

Quantas vezes imprimir 'Hello World!'? 12
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [43]:
# 10

palavra = input("Digite uma palavra: ")
n = int(input("Quantas vezes deseja imprimir? "))
for _ in range(n):
    print(palavra)

Digite uma palavra: word
Quantas vezes deseja imprimir? 100
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word
word

In [44]:
21# 11
n = int(input("Quantos números deseja inserir? "))
soma = 0
for _ in range(n):
    numero = float(input("Digite um número: "))
    soma += numero
media = soma / n if n > 0 else 0
print("Soma:", soma)
print("Média:", media)

Quantos números deseja inserir? 12
Digite um número: 12
Digite um número: 12
Digite um número: 12
Digite um número: 12
Digite um número: 12
Digite um número: 12
Digite um número: 21
Digite um número: 21
Digite um número: 21
Digite um número: 21
Digite um número: 12
Digite um número: 12
Soma: 180.0
Média: 15.0

In [46]:
# 12
n = int(input("Quantas pessoas? "))
mais_velho_nome = ""
mais_velho_idade = -1
for _ in range(n):
    nome = input("Nome: ")
    idade = int(input("Idade: "))
    if idade > mais_velho_idade:
        mais_velho_nome = nome
        mais_velho_idade = idade
print("Pessoa mais velha:", mais_velho_nome)

Quantas pessoas? 3
Nome: victor
Idade: 12
Nome: vivi
Idade: 13
Nome: carol
Idade: 14
Pessoa mais velha: carol

In [47]:
# 13

n = int(input("Quantas pessoas? "))
soma_m = soma_f = qtd_m = qtd_f = 0
for _ in range(n):
    sexo = input("Sexo (M/F): ").strip().upper()
    idade = int(input("Idade: "))
    if sexo == 'M':
        soma_m += idade
        qtd_m += 1
    elif sexo == 'F':
        soma_f += idade
        qtd_f += 1
media_m = soma_m / qtd_m if qtd_m else 0
media_f = soma_f / qtd_f if qtd_f else 0
print("Média idade Masculino:", media_m)
print("Média idade Feminino:", media_f)

Quantas pessoas? 3
Sexo (M/F): m
Idade: 12
Sexo (M/F): k
Idade: 12
Sexo (M/F): f
Idade: 12
Média idade Masculino: 12.0
Média idade Feminino: 12.0

In [48]:
# 14

numeros = [float(input(f"Digite o {i+1}º número: ")) for i in range(10)]
print("Maior:", max(numeros))
print("Menor:", min(numeros))

Digite o 1º número: 1
Digite o 2º número: 2
Digite o 3º número: 3
Digite o 4º número: 4
Digite o 5º número: 5
Digite o 6º número: 6
Digite o 7º número: 7
Digite o 8º número: 8
Digite o 9º número: 9
Digite o 10º número: 10
Maior: 10.0
Menor: 1.0

In [49]:
# 15
numeros = []
while True:
    num = float(input("Digite um número (0 para sair): "))
    if num == 0:
        break
    numeros.append(num)
numeros.sort()
print("Números ordenados:", numeros)

Digite um número (0 para sair): 12
Digite um número (0 para sair): 12
Digite um número (0 para sair): 12
Digite um número (0 para sair): 0
Números ordenados: [12.0, 12.0, 12.0]

In [50]:
# 16

idades = []
while True:
    resposta = input("Deseja informar idade de um aluno? (S/N): ").strip().upper()
    if resposta != 'S':
        break
    idade = int(input("Digite a idade: "))
    idades.append(idade)

if idades:
    mais_novo = min(idades)
    mais_velho = max(idades)
    maiores_18 = sum(1 for i in idades if i > 18)
    menores_ou_18 = len(idades) - maiores_18
    media = sum(idades) / len(idades)
    idades.sort()
    meio = len(idades) // 2
    if len(idades) % 2 == 0:
        mediana = (idades[meio - 1] + idades[meio]) / 2
    else:
        mediana = idades[meio]
    print("Mais novo:", mais_novo)
    print("Mais velho:", mais_velho)
    print("Mais de 18 anos:", maiores_18)
    print("Até 18 anos:", menores_ou_18)
    print("Média:", media)
    print("Mediana:", mediana)
else:
    print("Nenhuma idade foi informada.")

Deseja informar idade de um aluno? (S/N): n
Nenhuma idade foi informada.